.myVideoTagOTOLounge.otherUserPickedUp{
    position: absolute;
    width: 16%;
    margin-left: 80%;
    margin-top: 60%;
}

.hang-up-btn{
    cursor: pointer;
}

.theirVideoTagOTOLounge{
    width: 100%;
}
